@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Roboto:wght@300&display=swap');
@media (min-width: 1024px) {
   
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    width: 100%;


}

.seccion1 {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.cabecera {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.reserva{
    background-color: black;
    width: 100%;
    justify-content: center;
    text-align: center;

    text-decoration: none;
}
.reserva a  {
    text-decoration: none;

}

.reserva h4{
    color: white;
    font-size: 15px;
}


.reserva:hover h4{
    background-color: #F23D2E;
    color: black;
    cursor: pointer;
}

.navbar {
    width: 100%;
    height: 80%;
    display: flex;


}

.logo {
    width: 15%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 4rem;
}

.navegador{
    width: 85%;
	max-width: 900px;
	margin: auto;
	/* background-color: #333; */

	font-size: 20px;
    

}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;

}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
}


.menu-horizontal > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;

}

.img-redes {
    width: 2rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-bottom: 50px;
    z-index: 9999;
}

.img-redes:hover{
    transform: scale(1.5);
}

.presentacion {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    margin: 80px;
}
.texto{
color: #F23D2E;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
}

.texto h1{
    font-size: 70px;
}

.texto p {
    font-size: 30px;
}

.foto{
display: flex;
 width: 50%;
 justify-content: center;
 text-align: center;
 align-items: center;
}

.foto img{
    width: 200px;
}

.sneakPeek{
    width: 100%;
    height: 75vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

}

.titulo-sneak{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.sneak-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}



.sneak img{
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
    
}




  

.sneak button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #ff6f61;
    color: #ffffff;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .sneak button:hover {
    background-color: #ff8f81;
    cursor: pointer;
  }
  
  .sneak button:active {
    background-color: #e6594c;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }
  

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #333333;
    justify-content:end;
    align-items: center;
    
    
}

.img-footer{
    width: 2rem;
    margin: 20px;
    
}

.mail a{
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
}

/* Nosotros */

.nosotros {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}

.quienesSomos{
    width: 100%;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.queHacemos{
    width: 100%;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.frasefundador{
    width: 100%;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*Portfolio*/

.portfolio{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    justify-content: space-around;

}

.parques {
    width: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parques iframe{
    width: 90%;
}

/* Servicios */

h1 {
    color: red;

}


/* Indumentaria */
h1 {
    color: red;

}

}
 /* MOBILE */
@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }


    .navegador{
        display: none;
    }
}


/* TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
   
}
