@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Roboto:wght@300&display=swap');
@media (min-width: 1024px) {
   
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    width: 100%;


}

.seccion1 {
    height: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
 
}

.cabecera {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
}
.reserva{
    background-color: black;
    width: 100%;
    justify-content: center;
    text-align: center;

    text-decoration: none;
}
.reserva a  {
    text-decoration: none;

}

.reserva h4{
    color: white;
    font-size: 15px;
}


.reserva:hover h4{
    background-color: #F23D2E;
    color: black;
    cursor: pointer;
}

.navbar {
    width: 100%;
    height: 80%;
    display: flex;
    /* margin: 0 auto;
    padding: 10px; */
    transition: all 0.3s ease;


}

.logo {
    width: 15%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 4rem;
}

.navegador{
    width: 85%;
	max-width: 900px;
	margin: auto;
	/* background-color: #333; */

	font-size: 20px;
    

}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;



}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;

}


.menu-horizontal > li:hover{
	background-color: red;
    border-radius: 20px;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;

}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;

}

.actual-title {
    background-color: yellow;
    border-radius: 20px;

}


.img-redes {
    width: 2rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-bottom: 50px;
    z-index: 9999;
}

.img-redes:hover{
    transform: scale(1.5);
}



.presentacion{
    margin-top: 100px;
    display: flex;


}

.img-presentacion {

    width: 100%;
    height: 100%;
}

                                        /* Seccion 2 */

.seccion2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background-size: cover;


}

.img-seccion2{
    width: 100%;
}




                                        /* Seccion 3 - Sneak Peek */


.seccion3 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    background-image: url(./img/3.png);
    background-size: cover;

}

.sneakPeek{
    width: 100%;
    height: 75vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

}
.sneak {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titulo-sneak{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.subscribe{
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
  overflow: hidden;

}

.subscribe :hover{
    transform: scale(1.5);
}

.sneak {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sneak-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.sneak-box h1{
    color: white;
    font-size: 50px;
    cursor: pointer;

}


.sneak img{
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    
}
.pie-sneak{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;


}
.info-sneak{
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding-top: 10px;
    padding-left: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    white-space: nowrap;

}


.play{
    padding-top: 10px;
    padding-right: 30px;
}

.play img{
    width: 40px;
    background-color: white;

}


.sneak button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #ff6f61;
    color: #ffffff;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .sneak button:hover {
    background-color: #ff8f81;
    cursor: pointer;
  }
  
  .sneak button:active {
    background-color: #e6594c;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
                                    /* Seccion 4  */

/* .seccion4{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
} */

.seccion4{
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative; /* Permite posicionar elementos hijos de forma absoluta */
    text-align: center;

}



.img-servicios{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    flex: 1;
  position: relative;


}

.seccion4 h1{
    
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        padding: 10px; 
        font-size: 70px;
        width: 100%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.seccion4:hover h1{
    display: none;
}

.img-servicios a{
    text-decoration: none;
}
.img-servicios h2{
    display: none;
}

.img-servicios:hover h2{
    display: flex;
    color: white;
}

.img-servicios-box{
    width: 100%;
    background-size: cover;

}

#img-servicios1{
    background-image: url(./img/servicios1.jpg);
    background-size: cover;

}

#img-servicios1:hover{
    background-image: url(./img/servicios1.1.jpg);
    background-size: cover;
}
#img-servicios2{
    background-image: url(./img/servicios2.jpg);
    background-size: cover;
}

#img-servicios2:hover{
    background-image: url(./img/servicios2.1.jpg);
    background-size: cover;
}
#img-servicios3{
    background-image: url(./img/servicios3.jpg);
    background-size: cover;
}

#img-servicios3:hover{
    background-image: url(./img/servicios3.1.jpg);
    background-size: cover;
}








                                    /* Footer  */

.footer {
    width: 100%;
    height: 80Vh;
    display: flex;
    background-image: url(./img/9.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    
}


.titulo-footer{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

.titulo-footer h1{
    color: white;
}

.iconos-footer{
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    height: 60%;
    justify-content: space-around;
}

.iconos-box{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo-icono{
    margin-bottom: 20px;
    font-size: 20px;
}


.img-footer{
    width: 80px;
}


.icono-arriba{
    position:relative;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 1270px;
    margin-bottom: 20px;

}

.icono-arriba img{
    width: 4rem;
}




                                    /* Nosotros */
.seccion-nosotros1{
    margin-top: 135px;
    display: flex;
    width: 100%;
    height: 60%;
    background-size: cover;
    overflow: hidden;
    
    
}

.seccion-nosotros1 img{
    background-size: cover;
    object-fit: cover;
}
.seccion-nosotros2{
    display: flex;
    width: 100%;
    height: 60%;
    background-size: cover;
}
.seccion-nosotros3{
    display: flex;
    width: 100%;
    height: 60%;
    background-size: cover;
}
.seccion-nosotros4{
    display: flex;
    width: 100%;
    height: 60%;
    background-size: cover;
}

.footer-nosotros {
    width: 100%;
    height: 80Vh;
    display: flex;
    background-image: url(./img/nosotros5.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: -2px;
    
}

                                    /*Portfolio*/

.portfolio{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    justify-content: space-around;
    margin-top: 150px;

}

.parques {
    width: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parques iframe{
    width: 90%;
}

/* Servicios */

h1 {
    color: red;

}


/* Indumentaria */
h1 {
    color: red;

}

}
 /* MOBILE */
@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }


    .navegador{
        display: none;
    }
}


/* TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
   
}
