@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Roboto:wght@300&display=swap');
@media (min-width: 1024px) {
   
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
	background-image: url(img/.png);
	background-size:cover;
} 
.contenedor {
    width: 100%;

}

.seccion1 {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.cabecera {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.reserva{
    background-color: black;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
}

.navbar {
    width: 100%;
    height: 80%;
    display: flex;


}

.logo {
    width: 15%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 3rem;
}

.navegador{
    width: 85%;
	max-width: 900px;
	margin: auto;
	background-color: #333;
	font-size: 20px;

}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;

}

.img-redes {
    width: 2rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-bottom: 50px;
    z-index: 9999;
}

.img-redes:hover{
    transform: scale(1.5);
}

.presentacion {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
}
.texto{
color: #F23D2E;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;

}
.foto{
display: flex;
 width: 50%;
 justify-content: center;
 text-align: center;
 align-items: center;
}

.foto img{
    width: 300px;
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #333333;
    justify-content:end;
    align-items: center;
    
    
}

.img-footer{
    width: 2rem;
    margin: 20px;
    
}

.mail a{
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
}

}